*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/* ========== header ========== */


#navGroup {
    width: 100%;
    height: 0;
}

.dropdown-menu{
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 0) 100%);

    border: unset;
}

.dropdown-item:hover{
    background-color: unset;
}


.navbar{
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 11%, rgba(0, 0, 0, 0) 100%);}
/*----- navbar-brand(logo codepen上抓的)----- */
.navbar-brand img {
    width: 100px;
}

.navbar-brand {
    margin-right: 1.5rem;
}

/* ----- nav toggle ----- */
#toggle {
    width: 28px;
    height: 30px;
    /* margin: 10px auto; */
    display: none;
}

#toggle div {
    width: 100%;
    height: 5px;
    background: #661219;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}
/* -----End nav toggle ----- */

/* -----熒幕寬度小於768px時，出現漢堡條，同時logo居中 */
@media (max-width: 767px) {
    #toggle {
        display: block;
    }

    .navbar-brand {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}



#navGroup .nav-item {
    margin-right: 8px;
}

#navGroup a {
    color: white;
}



.fixed{ 
    position:fixed;
    z-index: 999;
}

/*  -- End header -- */





/* ========== banner ========== */
#banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner1920_1076.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* @media (max-width: 767px){
    #banner{
    background-image: url('../img/banner768_1024.png');
}
} */
/*  -- End banner -- */




/* ========== aboutUS ========== */
#aboutUs{
    padding: 50px 10px;
    height: 1000px;

    background-image: url('../img/backgroudredV.png');
    background-repeat: no-repeat;
   background-size: contain;
   background-position:right -170px top -30px;
   
}


#aboutUs .article p{
    font-size: 1.25rem;
    padding-top: 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: justify;
    
}

#aboutUs img{
    width: 100%;
    /* margin-bottom: 250px; */
}

@media (max-width: 767px){
    #aboutUs{
        height: unset;
    }

    #aboutUs .article{
        margin-bottom: unset;
        /* margin-top: 150px; */
    }

    /* #aboutUs img{
        margin-bottom: 100px;
    } */

    #aboutUs .article p{
        padding: 50px 0;
        font-size: 16px;
        letter-spacing: 1.5px;
        line-height: 2;
    }
   
}
/*  -- End aboutUS -- */


/* ========== grillProduct ========== */
#grillProduct{
    width: 100%;
    /* height: 100vh; */
    padding: 50px 0;
}

.grill{
    width: 100%;
    margin: 0 10px;
}

.grills{
    padding: 50px 0px;
}

#grillProduct .grill .img .info p{
    color: #bfbfbf;
}

#grillProduct .grill .info a{
    text-decoration: none;
    color: #1b322e;
}

#grillProduct .grill .info a:hover{
    color: #661219;
}

#grillProduct .grill .grillPrice{
    color: #d8272d;
}


#grillProduct .img{
    width: 100%;
    height: 470px;
    position:relative;

}

#grillProduct .img .rectangle{
    position: relative;
    overflow: hidden;
}

#grillProduct .img img{
    width: 100%;
    position: absolute;
}
#grillProduct .img .rectangle .rect{
    position: absolute;          
    background:#c7c8c8;
    transition: .5s;
}
#grillProduct .img .rectangle .top{
    top: 0;
    width: 100%;
    height: 0.7em;
}

#grillProduct .img .rectangle .left{
    left: 0;
    height: 100%;
    width: 0.7em;
}

#grillProduct .img .rectangle .right{             
    right: 0;
    height: 100%;
    width: 0.7em;
}
#grillProduct .img .rectangle .down{             
    bottom: 0;
    width: 100%;
    height: 0.7em;
    /* transition: 2.5s;  */
}
#grillProduct .img .rectangle .down span{     
    height: 0;
    display: none;
    color: black;  
    font-size: 1.25em; 
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);   
    /* transition: 2.5s; */
}
#grillProduct .img:hover .rectangle .down{             
    height: 5.7em;
    background-color:  #a21c21;
}
#grillProduct .img:hover .rectangle .down span{             
    display:block;
    height: unset;
}

@keyframes rectangleChangeSides{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}


@keyframes rectangleChangeTop{
    from{
        /* transform : matrix( 1, 0, 0, 1, 0, 200 ); transform-origin : 0% 0%; */
        width: 0%;
    }
    to{
        /* transform : matrix( 1, 0, 0, 1, 0, 0 ); transform-origin : 0% 0%; */
        
        width: 100%;
    }
}
/* 我是top从左到右的红线 */
#grillProduct .img:hover .rectangle .top::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #a21c21;
    animation-fill-mode:forwards;
    animation-name: rectangleChangeTop;
    animation-duration: 1s;
    animation-delay: .4s;

}
/* 我是top从右到左的红线 */
#grillProduct .img:hover .rectangle .top::after{  
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #a21c21;
    animation-fill-mode:forwards;
    animation-name: rectangleChangeTop;
    animation-duration: 1s;
    animation-delay: .4s;
}

#grillProduct .img:hover .rectangle .left::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:  #a21c21;
    animation-fill-mode:forwards;
    animation-name: rectangleChangeSides;
    animation-duration: .5s;
}

#grillProduct .img:hover .rectangle .right::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:  #a21c21;
    animation-fill-mode:forwards;
    animation-name: rectangleChangeSides;
    animation-duration: .5s;
}

#grillProduct .img:hover .rectangle .down::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #a21c21;
    animation-fill-mode:forwards;
    animation-name: rectangleChangeSides;
    animation-duration: .1s;
    /* height: 5.7em; */
}

#grillProduct .img .rectangle{
    width:100% ;
    height: 460px;
    position: absolute;
    z-index: -1;

}

@media (max-width:1199px){
    #grillProduct .img .rectangle{
        height: 400px;
    }

    #grillProduct .img{
        height: 420px;
    }

    @media (max-width:991px){
        #grillProduct .img .rectangle{
            height: 270px;
        }

        #grillProduct .img{
            height: 290px;
        }

        #grillProduct .img:hover .rectangle .down{
            height: 3.7em;
        }
    }

    @media (max-width:767px){
        #grillProduct .img .rectangle{
            height: 190px;
        }

        #grillProduct .img{
            height: 210px;
        }

        #grillProduct .grill .img .down span{
            font-size: 0.9em;
        }

        #grillProduct .img:hover .rectangle .down{
            height: 2.7em;
        }

       #grillProduct .img .rectangle .left,#grillProduct .img .rectangle .right{
            width: 0.3em;
        }

        #grillProduct .img .rectangle .top,#grillProduct .img .rectangle .down{
            height: 0.3em;
        }
    }

    @media (max-width:575px){
        #grillProduct .img .rectangle{
            height: 490px;
        }

        #grillProduct .img{
            height: 510px;
        }

        #grillProduct .grill .img .down span{
            font-size: 1.25em;
        }

        .grill{
            margin: 0 0 50px 0;
        }

        #grillProduct .img img{
            padding: 50px;
        }

        .grills{
            padding: 50px 20px;
            display: block!important;
        }

        #grillProduct .img:hover .rectangle .down{
            height: 4.7em;
        }

       #grillProduct .img .rectangle .left,#grillProduct .img .rectangle .right{
            width: 0.7em;
        }

        #grillProduct .img .rectangle .top,#grillProduct .img .rectangle .down{
            height: 0.7em;
        }
    }

    @media (max-width:509px){
        #grillProduct .img .rectangle{
            height: 440px;
        }

        #grillProduct .img{
            height: 460px;
        }

        #grillProduct .img img{
            padding: 20px;
        }

        #grillProduct .img:hover .rectangle .down{
            height: 3.7em;
        }
    }

    
    @media (max-width:409px){
        #grillProduct .img .rectangle{
            height: 340px;
        }

        #grillProduct .img{
            height: 360px;
        }

       

    }

    @media (max-width:320px){
        #grillProduct .img .rectangle{
            height: 300px;
        }

        #grillProduct .img{
            height: 320px;
        }

        #grillProduct .img img{
            padding: unset;
        }

        /* #grillProduct .img:hover .rectangle .down{
            height: 1.5em;
        } */

    }
}

/*  -- End grillProduct -- */


/* ========== productSupport ========== */

#productSupport{
position: relative;
width: 100%;
background-image: url('../img/testbackgroud.png');
background-repeat: no-repeat;
padding: 50px;
/* margin: 50px 0; */
}

#productSupport a{
    position: relative;
}

#productSupport::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#productSupport .mask{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #661219;
    padding: 45px;
    transition: ease-in-out;
    position: relative;
}

#productSupport img{
    width: 100%;
    line-height: 300px;
}

#productSupport .mask span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.25em;
    display: none;
}

#productSupport a:hover .mask::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

#productSupport a:hover .mask span{
    display: block;
    padding-bottom: 10px;
}

#productSupport a:hover .mask img{
    display: none;
}

#productSupport a:hover .mask .title::before{
    content: '';
    position: absolute;
    background-color: #661219;
    width: 100%;
    height: 2px;
    bottom: 0;
    animation-name: titleUnderline;
    animation-duration: 1s;
}


@media(max-width:1199px){

#productSupport .mask{
    width: 150px;
    height: 150px;
}

#productSupport .mask span{
    font-size: 1em;
}

@media(max-width:767px){
    #productSupport .mask{
        width: 130px;
        height: 130px;
    }
    
}

@media(max-width:575px){
    #productSupport .mask{
        margin: 10px;
    }
}
}


@keyframes titleUnderline{
    from{ width: 0; }
    to{ width: 100%; }
}
/*  -- End productSupport -- */



/* ========== tastyRecipes ========== */


#tastyRecipes{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

#tastyRecipes .title{
padding-bottom: 40px;
}

#tastyRecipes .img{
margin-bottom: 10px;    
}

#tastyRecipes img{
    width: 100%;
  
}

#tastyRecipes .recipeName{
    position: absolute;
    color: white;
    font-size: 2em;
    opacity: 0;
    transition: 1s;
}

#tastyRecipes a .img::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 10px;
    left: 15px;
    right: 15px;
    opacity: 0;
    transition: 1s;
}

#tastyRecipes a:hover .img::before{
    opacity: 1;
    /* content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 10px;
    left: 15px;
    right: 15px; */
}

#tastyRecipes a:hover .recipeName{
    opacity: 1;
}

#tastyRecipes .viewMore{
    width: 150px;
    height: 50px;
    color: white;
    background-color: #661219;
    border-radius: 10px;
    line-height: 50px;
    margin: 50px auto 0 auto;
    transition: .5s;
   
}

#tastyRecipes .viewMore:hover{
    background-color: #40220f;
    font-size: 18px;
} 

#tastyRecipes a{
    text-decoration: none;
}

/*  -- End tastyRecipes -- */


/* ========== findUs ========== */

#findUs{
    padding: 50px 0;
    background-color: #604c3f;
}

#findUs .title{
    text-align: center;
    padding-bottom: 50px;
    color: white;
}

#findUs .img{
    width: 100%;
    height: 80vh;
}

#findUs .img img{
    width: 100%;
}

.map{
    width: 100%;
    height: 0px;
    transition: .3s;
    overflow: hidden;
}


#findUs iframe{
    /* position: absolute; */
    width: 100%;
    height: 200px;
    /* display: none; */
}

#findUs .img img:hover~.map{
/* display: block; */
height: 200px;
}

#findUs .map:hover{
    /* display: block; */
height: 200px;

}

.location{
    padding-top: 20px;
    /* color: #767679; */
    color: #C7BDC8;
}
.location h3{
    color: #1b322e;
}



/*  -- End findUs -- */



/* ========== forBusiness ========== */
#forBusiness{
    width: 100%;
    height: 85vh;
    background-image: url('../img/forbusiness1931_1082.png');
    background-size: cover;
    color: white;
    text-align: center;
}

#forBusiness h1{
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* margin-top: 80px; */
    padding: 20px 0;
}

.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}

#forBusiness input{
    width: 500px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    outline-color: none;
    /* outline-offset: unset; */
    outline: none;
    border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#forBusiness textarea{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    outline-color: none;
    /* outline-offset: unset; */
    outline: none;
    border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#forBusiness button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #661219;
    border: unset;
    color: white;
    margin-top: 30px;
    transition: .5s;
}

#forBusiness button:hover{
    background-color: #40220f;
}

@media(max-width:575px){

    #forBusiness input {
        width: 400px;
}

#forBusiness textarea {
    width: 400px;
}

@media(max-width:575px){
    #forBusiness input {
        width: 330px;
}

#forBusiness textarea {
    width: 330px;
}
}

@media(max-width:384px){
    #forBusiness input {
        width: 280px;
}

#forBusiness textarea {
    width: 280px;
}
}

@media(max-width:320px){
    #forBusiness input {
        width: 250px;
}

#forBusiness textarea {
    width: 250px;
}
}



}


/*  -- End forBusiness -- */



/* ========== footer ========== */

#footer{
    /* height: 50vh; */
    background-color: #40220f;
    padding: 100px 0px;
    letter-spacing: 2px;
}

#footer .inner{
    width: 80%;
    margin: 0 auto;
    
}

#footer .inner .brand{
    width: 100px;
    position: absolute;
}

#footer .inner .brand img{
    width: 100%;
}

#footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .navs ul ul li{
    padding-left: 30px;
}

#footer h5{
    color: #7f4f21;
}

#footer .contact ul li{
    color: #767679;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .55em;
    letter-spacing: 0.08em;
}

.inner::after{
    clear: both;
    content: '';
    display: table;
}

/* 尹老師的clear做法 */
/* #footer .clear {
    clear:both;
} */

#footer a{
    text-decoration: none;
    color:white;
    /* letter-spacing: 2px; */
    padding: 8px 0;
}

#footer .inner .navs{
    width: 72.5%;
    float: left;
    padding-left: 12em;

}

#footer .inner .navs > ul{
    display: flex;
    padding: 40px 0;
    justify-content: space-around;
}

#footer .inner .navs  ul h5{
    cursor: pointer;
}



/* #footer .inner .navs > ul>li{
    margin: 0 30px;
} */

#footer .contact{
    width: 25%;
    float: right;
    padding: 2em;
    border: 0.65em solid rgba(255, 255, 255, 0.15);
}


#footer h5{
    margin-bottom: 1.5rem;
}

#footer .navs #disappear{
    opacity: 0;
}


#footer .sociaIcon{
    font-size: 50px;
    padding: 50px 100px;
}

#footer .sociaIcon i{
    margin: 0 3px;
    color: #7f4f21;
}

#footer .sociaIcon i:hover{
    color: #661219;
}

#footer .copyRight{
    margin: 0 auto;
    /* height: 100px; */
    padding: 100px 0 0 0;
    color: #7f4f21;
    font-size: 5px;
}


@media(max-width:1199px){
    #footer .inner .brand{
         position: unset;
    }

    #footer .inner .navs{
        padding-left: unset;    
    }

    #footer .inner .navs > ul{
      
        justify-content: space-between;
    }

    #footer h5{
        font-size: 1em;
    }

    @media(max-width: 991px){
        #footer{
            letter-spacing: unset;
        }
        #footer .inner .contact{
            padding: 1em;
            border: 0.5em solid rgba(255, 255, 255, 0.15);
        }

        #footer .inner .navs > ul{
            padding: 20px 0;
    }
}

    @media(max-width:767px){
        #footer h5{
            font-size: 1.5em;
        }

        #footer .navs ul ul li{
            font-size: 1.25em;
        }

        #footer .navs .my_collapse_content{
            transition: 1s;
            overflow: hidden;

            /* 要用max-height  按钮展开高度时才有transition（0-让ul选项看不见） */
            max-height: 0;
            transition: max-height 0.38s ease-in-out;
        }

        #footer .navs .my_collapse_content.active{
            /* 要用max-height  按钮展开高度时才有transition（200-最高可以长到200的意思，要有数字才能做transition） */
            max-height: 200px;
            transition: max-height 0.7s ease-in-out;
        }

        #footer .navs .my_collapse_toggle .collapse_icon{
            transform: rotate(0deg);
            transition: 0.3s;
        }

        #footer .navs .my_collapse_toggle .collapse_icon.active{
            transform: rotate(45deg);
            color: red;
        }


        #footer .inner .navs > ul{
            display: block;
        }

        #active{
            display: none;
        }

        #footer .navs #disappear{
            opacity: 1;
        }

        #footer .contact{
            width: 100%;
            padding: 1em;
            border: 0.65em solid rgba(255, 255, 255, 0.15);
        }
     
    }
}




/* 
@media(max-width:1400px){
    #footer .navs{
        font-size: 80%;
    }

    h5{
        letter-spacing: unset;
    }

    #footer .inner .navs > ul {
        padding: 40px 0;
}

#footer .contact {
    padding: 1.5em;
    border: 0.45em solid rgba(255, 255, 255, 0.15);
}

} */


/*  -- End footer -- */






.hvr-underline-from-left:before {
   
    background-color: #661219 !important;
    height: 2px !important;
}

.hvr-underline-from-center:before{
    background-color: #661219 !important;
    height: 1.5px !important;
    transition-duration: .5s !important;
}